h1 {
    font-weight: lighter;
    text-align: center;
    font-size:large;
}

body {
    align-items: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    margin-left: 50px;
}

.nav {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    text-align: end;
    padding-right: 10px;
    padding: 30px;
}
  
.links{
    text-decoration: none;
    font-size: larger;
}

.img {
    border: 2px solid rgb(0, 0, 0);
}
  
a {
    color: black;
}

.brand {
    flex: 0 1 auto;
}
.nav {
    flex: 1 0 auto;
}

.links:hover{
    background-color: yellow;
    font-weight: bold;
}

h1 {
    font-weight: lighter;
    text-align: center;
    font-size:large;
}

.product-card{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
}

.Price {
    display: flex;
    justify-content:end;
    align-items: center;
    padding-top: 70px;
}

.img {
    flex:2;
    max-width: fit-content;
}

.product-card{
    flex:1;
}

.product-detail{
    padding-left: 30px;
    padding-right:15px;
    justify-content: space-between;
}

.selector {
    padding-top: 20px;
    padding-bottom: 40px;
}

.pricing {
    font-weight: bolder;
    padding-right: 30px;
}

select{
    width: 100%;
    height: 30px;
    border-width: 2px;
    border-color: black;
    font-size:medium;
}

button {
    width: 80;
    height: 30px;
    border-width: 2px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

button:hover {
    background-color: yellow;
}