h1 {
    font-weight: lighter;
    text-align: center;
    font-size:large;
}

body {
    align-items: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    width: 1200px;
}

span {
    margin-left: 50px;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    text-align: end;
    padding-right: 10px;
    padding: 30px;
}
  
.links{
    text-decoration: none;
    font-size: larger;
}

a {
    color: black;
}

.brand {
    flex: 0 1 auto;
}
.nav {
    flex: 1 0 auto;
}

.links:hover{
    background-color: yellow;
    font-weight: bold;
}

.checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.checkout > .product-detail{
    flex-direction: row;
}

button{
    border-style: solid;
    background-color: white;
    align-items: flex-end;
}

.product-detail {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 20px;
    column-gap: 20px;
}

.checkout {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    text-align: left;
    padding-right: 10px;
    padding: 30px;
    align-content:flex-start;
    margin-left: 270px;
}

.end {
    align-content:flex-start;
    margin-left: 270px;
}

.total {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 30px;
}

.img {
    border: 2px solid rgb(0, 0, 0);
    margin-right: 10px;
  }

.image {
    font-size: smaller;
}

p {
    align-content: flex-start;
}
