body {
    align-items: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1200px;
    padding-top: 30px;
}
  
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
span{
    margin-left: 50px;
}
  
.nav {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    text-align: end;
    padding-right: 10px;
    padding: 30px;
}
  
.links{
    text-decoration: none;
    font-size: larger;
}
  
.links:hover{
    background-color: yellow;
    font-weight: bold;
}
  
.brand {
    flex: 0 1 auto;
}

.nav {
    flex: 1 0 auto;
}
  
h1 {
    font-weight: lighter;
    text-align: left;
    font-size:large;
    margin-left: 265px;
    padding-bottom: 30px;
}

.cart-details {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 265px;
}

.cart {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.cart > p{
    flex: 1 0 auto;
}

.cart > .img {
    flex: 0 1 auto;
}

.cart-details > .cart{
    flex-direction: row;
}

.button{
    background-color: white;
    justify-content: flex-end;
    display: flex;
    margin-right: 30px;
    
}

button {
    width: 80;
    height: 30px;
    border-width: 2px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

button:hover {
    background-color: yellow;
}

.prce {
    margin-right: 30px;
    text-align: end;
}

.total {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 30px;
    border-top: 3px solid black;
    width: 100%;
}

.totl {
    margin-left: 90px;
}

.img {
    border: 2px solid rgb(0, 0, 0);
    margin-right: 10px;
  }

.image {
    font-size: smaller;
}

p {
    align-content: flex-start;
}

a {
    color: black;
}

div {
    flex: 0 1 auto;
}

.cart {
    flex: 1 0 auto;
}

hr{
    border-width:thin;
    border-color: black;
    border-style: solid;
}

.remove {
    margin-top: 0%;
    font-size: x-small;
    font-weight: 700;
    text-decoration: underline;
}