body {
  align-items: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 100px;
  padding-right: 100px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display:block;
}

.brand {
  flex: 1;
}
.nav {
  flex: 2;
}

h1 {
  font-weight: lighter;
  text-align: center;
  font-size:large;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.rolls{
  padding: 10px;
  padding-bottom: 2px;
}

.rolls:hover {
  background-color: yellow;
}

nav:hover{
  background-color: yellow;
  font-weight: bold;
}

a:hover{
  font-weight: bold;
}