h3:hover {
    background-color: yellow;
}
body,h3 {
    max-width: max-content;
    margin: auto;
    }

h2 {
    text-align: center;
}
.apple-cinnamon {
    text-align: center;
}
.dropbtn {
    color: rgb(0, 0, 0);
    border: 2px solid #3e8e41;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    text-align: center;
    display: grid;
  }

.dropdown:hover .dropdown-content {display: list-item;}

.dropdown:hover .dropbtn {background-color: #8e8e8e;}